src/main/resources/EncryptionAlgorithm.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="config" type="configType"/>
  <xs:complexType name="configType">
    <xs:sequence>
      <xs:element type="xs:string" name="algName"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>