src/main/resources/EncryptionAlgorithm.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="encryptionAlgorithm" type="encryptionAlgorithmType"/>
  <xs:complexType name="encryptionAlgorithmType">
    <xs:sequence>
      <xs:element type="xs:string" name="algorithmName"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>